html,
body {
  
  background-color: linear(to-b, #00ABD1, #F0F3FF);
  padding: 0;
  margin: 0;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.hero-container {
  background-image: url("/static/images/Artwork.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
}

.info-container {
  background-image: url("/static/images/Maskrectblue.png");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: 20%;
  color: #5A9ECF !important;
}

.parent:hover svg path {
  fill: black; /* Change this to the desired fill color */
}

.slider {
  background: transparent;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 250px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
