html,
body {
  
  background-color: linear(to-b, #00ABD1, #F0F3FF);
  padding: 0;
  margin: 0;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.hero-container {
  background-image: url("/static/images/Artwork.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
}

.info-container {
  background-image: url("/static/images/Maskrectblue.png");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: 20%;
  color: #5A9ECF !important;
}

.parent:hover svg path {
  fill: black; 
}

.text-container {
  display: flex;
  justify-content: center;
  
}

.text-container span {
  font-weight: 600;

}

.text-container:hover span {
  color: white; 
}

.slider {
  background: transparent;
  height: 70px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  height: 70px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
 width: auto;
  justify-content: space-evenly;
  height: 70px;
}

.slide {
  height: 70px;
  width: 472px;
  justify-content: space-evenly;
}

.slider-carousel {
  background: transparent;
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  /*width: 599px;*/
}

.slider-carousel::before,
.slider-carousel::after {
  content: "";
  height: 400px;
  position: absolute;
  width: 599px;
  z-index: 2;
}

.slider-carousel::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider-carousel::before {
  left: 0;
  top: 0;
}

.slide-track-carousel {
  /*animation: scroll 20s linear infinite;*/
  display: flex;
  /*width: calc(296px * 4);*/
  
  height: 437px;
}

.slide-carousel {
  height: 437px;
  width: 500px;
  
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.icon {
 display: flex;
}
.icon:hover {
  transform: rotate(720deg);
  transition: all 1.25s ease-in-out;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
